
/* --------------------------------------
   Layout25104E

   -------------------------------------- */
body {
   background-color: #131415;
   color:white;
   /*overflow: hidden;*/
}

/*selection color change*/

::selection {
    background:#00FFE6 ;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #00FFE6;
    color: #fff;
    text-shadow: none;
}


.header{
    font-size:60px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    padding-top: 12%;
    color: #e23b4a;
    text-align: center;
    background: -webkit-linear-gradient(330deg, #32C5FF 0%, #32C5FF 25%, #32C5FF 35%, #408BFC 75%, #408BFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.sub-header{
   font-size:32px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   padding-top: 4px;
   color:#FFFFFF;
   text-align: center;

}

.project-name{
    font-size:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF;

}

.project-status{
   font-size:18px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   padding-top: 4px;
   color:#B4B4B4;

}

.project-description{
   font-size:20px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   color:#FFFFFF;
   letter-spacing: .85px;

}

.project-nextsteps{
   font-size:22px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 500;
   color:#FFFFFF;
   letter-spacing: .85px;

}

.highlight{
   color:#FFE383;
   font-weight: 400;
}

.caption{
   font-size:16px;
   color:#868686;
   font-weight: 400;
   text-align: center;
   letter-spacing: .5px;


}

a {
  font-size:20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color:#47B4FB;
  letter-spacing: .8px;

}

a:hover {
  font-size:20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color:#1994E4;
  letter-spacing: .8px;

}

a:hover {
  font-size:20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color:#47B4FB;
  letter-spacing: .8px;
  text-decoration: none;

}



.split {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'><circle cx='5' cy='5' r='1' fill='#ffffff' /></svg>")  repeat;
  height: 15px;
  width: 100%;
  float: left;
  margin-left: 16px;
  margin-right: 16px;


}

.socialhandles{
  padding-top:20px;
}



.box{
  padding-top:32px;
  padding-bottom:32px;
  padding-left:16px;
  padding-right:16px;


}

.box:hover {
  background-color: rgba(0, 255, 230, 0.07);
  border-radius: 4px;
  cursor: pointer;

}

a {}
a:hover{text-decoration: none;}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */



/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

.header{
    font-size:36px;
    font-family: 'Libre Baskerville', serif;
    padding-top: 65%;
    color: #FFFFFF;
      margin-left: 16px;

}

.sub-header{
   font-size:20px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   padding-top: 4px;
   color:#00FFE6;
     margin-left: 16px;


}

.sub-header2{
   font-size:16px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   padding-top: 28px;
   color:#FFFFFF;
  line-height:28px;
    width:95%;
    opacity: .95;
      margin-left: 16px;


}


.labels{
    font-size:24px;
   font-family:  'Libre Baskerville', serif;
    color: #FFFFFF;
    padding-top:32px;
      margin-bottom: 24px;

}

.labelicon{
  width:32px;
  margin-left: 14px;


}

.labels2{
    font-size:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #00FFE6;
}

.label-description{
    font-size:16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 24px;
}
.label-insight{
    font-size:14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .8;
    line-height: 18px;
}


.split {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'><circle cx='5' cy='5' r='1' fill='#ffffff' /></svg>")  repeat;
  height: 15px;
  width: 93%;
  float: left;
  margin-left: 16px;
  margin-right: 32px;
  margin-top: -56px;


}

.socialhandles{
  padding-top:32px;
  margin-bottom: 200px;
    margin-left: 16px;

}



.box{
  padding-top:24px;
  padding-bottom:24px;


}

.box:hover {
  background-color: rgba(0, 255, 230, 0.07);
  border-radius: 4px;
  cursor: pointer;

}

a {}
a:hover{text-decoration: none;}


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {



}

/* Large desktop */
@media (min-width: 1200px) {

}
